

/* style.css - Custom styles complementing Tailwind CSS and DaisyUI */
:root {
    --primary-color: #9112e0; /* Green */
    --secondary-color: #5c9cf6; /* Purple */
    --bg-color: #000000; /* Black */
    --text-color: #000000; /* White */
    --container-color: #1e293b; /* Dark Blue */
}

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
    background-image: url('./bg2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh; /* Ensure full viewport height coverage */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1; /* Overlay above the background */
}

/* Directly styling child elements for clarity */
.content-wrapper {
    position: relative;
    z-index: 2; /* Content above the overlay */
}
/* Add an overlay for text visibility if needed */
.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha for opacity */
}

.accounts-container, .pricing-section {
    @apply overlay;
}

header {
    background-color: var(--container-color);
}



/* Responsive design adjustments */
@media (max-width: 768px) {
    .responsive-padding {
        padding: 10px;
    }
}

/* Hide the actual checkbox input */
.custom-checkbox {
    display: none;
  }
  
  /* Custom checkbox design */
  .custom-checkbox + label {
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
  }
  
  /* Box for the custom checkbox */
  .custom-checkbox + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid purple;
    border-radius: 0.25rem;
    background-color: transparent;
  }
  
  /* Checkmark for the custom checkbox */
  .custom-checkbox:checked + label::after {
    content: '✓';
    position: absolute;
    left: 0.4rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: purple;
  }
  